@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";* {
    padding: 0;
    margin: 0;
    --text-main: #383841;
    --text-regular: #67676e;
    --text-placeholder: #96969a;
    --danger: #FFA73F;
    --brand: linear-gradient(90deg, #FF8329 0%, #FF5050 65.1%);
    --success: #8bdbb4;
    --warning: #FFAF61;
    --bg-color: #fcfcfc;
    font-family: inter,sans-serif
}


*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    font-family: "Inter", sans-serif;
    color: var(--text-regular);
    font-size: 16px;
}

.main-block {
    margin-top: 85px;
    min-height: 725px;
}

.container {
    max-width: 1440px !important;
}

header {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.logo img {
    margin-right: 25px;
    width: 150px;
}

.logo h2 {
    font-weight: 900;
    font-size: 28px;
    color: var(--text-regular);
}

.beauty-img {
    width: 59%;
    position: relative;
    right: 0;
}

.links {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.link a {
    color: var(--text-regular);
    text-decoration: none;
    margin-right: 30px;
}

.link:hover a {
    color: var(--text-main);
}

.link.active a {
    color: var(--text-main);
    font-weight: 500;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 10px;
    padding: 13px 26px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.btn span {
    font-size: 24px;
}

.btn-brand {
    color: var(--bg-color);
    background: var(--brand)
}

.btn-brand:hover {
    background: rgba(246, 127, 139, 0.3);
}

.main-block h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 65px;
    color: var(--text-main);
    max-width: 600px;
}

.main-block .row .col-lg-6:first-child {
    max-width: 588px;
}

.action span {
    font-size: 24px;
}

.action {
    display: flex;
    margin-right: 50px;
    font-weight: 600;
    font-size: 18px;
    align-items: center;
}

.action.text-danger span {
    filter: drop-shadow(0px 0px 20px #ff9100);
}

.action.text-success span {
    filter: drop-shadow(0px 0px 20px rgba(139, 219, 180, 0.5));
}

.action.text-warning span {
    filter: drop-shadow(0px 0px 20px rgba(255, 203, 153, 0.5));
}

.online {
    background: rgba(246, 127, 139, 0.07);
    border-radius: 50px;
    height: 17px;
    width: 100%;
}

.online-path {
    background: linear-gradient(90deg, #ff9100 0%, #ffba6d 100%);
    border-radius: 50px;
    height: 17px;
}

h3 {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-main);
}

.info {
    font-size: 18px;
    line-height: 35px;
}

.shop-btn {
    background: var(--warning);
    box-shadow: 0 0 20px rgba(255,203,153,.65);
    padding: 24px 40px;
    color: #fff;
    width: fit-content
}

.scroll-icon {
    position: absolute;
    left: 47%;
    bottom: 60px;
    color: var(--danger);
    animation: float 3s ease-in-out infinite;
}

.stat-block {
    padding: 40px 0 85px 0;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.02);
    position: relative;
}

.stat span {
    font-size: 126px;
    color: var(--danger);
    filter: drop-shadow(0px 0px 20px rgba(246, 127, 139, 0.25));
    margin-right: 50px;
}

.stat h2 {
    font-weight: 800;
    font-size: 55px;
    line-height: 67px;
    color: var(--danger);
    text-shadow: 0px 0px 20px rgba(246, 127, 139, 0.25);
}

.stat p {
    font-size: 18px;
    line-height: 25px;
    margin-top: 18px;
}

.htp-block {
    background: url("/img/bitmapg.png");
    background-position: center;
    background-size: cover;
    padding: 85px 0;
}

.bitmapg {
    position: relative;
    bottom: -85px;
    background: url("/img/bitmapg.png");
    height: 700px;
    width: 100%;
}

.htp-block h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 25px;
    color: var(--text-main);
}

.htp-block p {
    font-size: 22px;
    line-height: 35px;
}

.btn-success {
    background: rgba(139, 219, 180, 0.2);
    color: var(--success);
    width: fit-content;
}

.img-1 {
    background: url("/img/1.png");
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
}

.img-2 {
    background: url("/img/2.png");
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 0px 10px 10px 0px;
}

.img-3 {
    background: url("/img/3.png");
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
}

.donaters-block {
    background: #fff;
    padding: 55px 0 70px 0;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: var(--text-main);
}

.donater {
    width: 150px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donater .img {
    width: 90px;
    height: 90px;
}

.donater img:first-child {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.donater img:nth-child(2) {
    width: 50px;
    height: 50px;
    position: relative;
    top: -115px;
    left: 60px;
}

.donater p {
    margin-top: 17px;
    text-align: center;
}

.donaters .donater:first-child {
    margin-left: -15px;
}

.best-player-block {
    padding: 60px 0 55px 0;
    background: url("/img/bitmapr.png");
    background-position: center;
    background-size: cover;
}

.white-placeholder {
    color: #f9cbcf;
    margin-right: 15px;
}

.skin {
    margin-right: 70px;
    filter: drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.3));
}

.skin-container span {
    font-size: 36px;
    filter: drop-shadow(0px 4px 20px #ffb66e);
    color: var(--warning);
    position: relative;
    left: -142px;
    top: -190px;
}

.card.card-transparent {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 30px 35px;
    color: #fff;
}

.card.card-transparent h4 {
    font-size: 18px;
}

.shop-block {
    background: url("/img/shop-bg.png");
    background-position: center;
    background-size: cover;
    padding: 85px 0;
}

.tabs {
    display: flex;
    height: 38px;
    border-bottom: 2px solid #e3e3e3;
    width: fit-content;
}

.tab {
    font-weight: bold;
    font-size: 18px;
    color: var(--text-placeholder);
    height: 38px;
    margin-right: 35px;
    cursor: pointer;
}

.tab:hover {
    color: var(--text-main);
}

.tab.active {
    color: var(--text-regular);
    border-bottom: 2px solid var(--danger);
}

.tab:nth-last-child(1) {
    margin-right: 0;
}

.shop-item {
    width: 100%;
    height: 333px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    padding: 30px 27px 22px 27px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.shop-item h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
}

.shop-item .price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-top: 10px;
}

.shop-item .oldprice {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;

    color: rgba(255, 255, 255, 0.5);
    margin-top: 18px;
    margin-left: 10px;
}

.discount {
    background: #f67f8b;
    border-radius: 50px;
    color: #fff;
    height: 37px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 20px rgba(246, 127, 139, 0.75));
}

.shop-item img {
    margin-top: 20px;
}

.shop-item .description {
    line-height: 25px;
    color: #fff;
    margin-top: 20px;
}

.shop-item-long {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 27px 22px 27px;
}

.shop-item-long img {
    margin: 0;
    height: 200px;
}

.shop-item-big {
    height: 685px;
    align-items: flex-start;
    padding: 30px 27px 22px 27px;
    display: block;
}

.shop-item.bronze {
    background: url("/img/bronzebg.png");
    background-position: center;
    background-size: cover;
}

.shop-item.gold {
    background: url("/img/goldbg.png");
    background-position: center;
    background-size: cover;
}

.shop-item.platinum {
    background: url("/img/platinumbg.png");
    background-position: center;
    background-size: cover;
}

.shop-item.diamond {
    background: url("/img/diamongbg.png");
    background-position: center;
    background-size: cover;
}

.shop-item.ruby {
    background: url("/img/rubybg.png");
    background-position: center;
    background-size: cover;
}

.shop-item.radiant {
    background: url("/img/radiantbg.png");
    background-position: center;
    background-size: cover;
}

.shop-item.admin {
    background: url("/img/adminbg.png");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.horse {
    transition: 0.4s;
}

.shop-item.admin:hover .horse {
    transform: translateX(-50px);
}

.news-block {
    background: url("/img/bitmapg.png");
    background-position: center;
    background-size: cover;
    padding: 85px 0;
}

.news-card {
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.02);
    border-radius: 10px;

    padding: 37px 28px 0px 28px;
}

.news-card .tag {
    font-size: 14px;
    line-height: 17px;
}

.news-card .card-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-main);
}

.news-card .card-footer {
    padding: 23px 0;
    border-top: 1px solid #e3e3e3;
    display: flex;
}

footer {
    background: url("/img/bitmapr.webp");
    background-position: center;
    background-size: cover;
    padding: 35px 0;
}

.scale {
    transition: 0.3s;
    cursor: pointer;
}

.scale:hover {
    transform: scale(1.05);
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

.mobile-burger {
    background: #f4f4f4;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: none;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}

#mobile-menu {
    background: #fff;
    padding: 30px;
    position: absolute;
    z-index: 1000;
    margin-left: -25px;
    top: -300px;
    transition: ease-in 0.2s;
}

#mobile-menu.active {
    top: 0px;
}

.mobile-links {
    list-style-type: none;
}

.mobile-links li {
    text-align: center;
}

.mobile-links li:not(:nth-last-child(1)) {
    margin-bottom: 30px;
}

.mobile-links li a {
    color: var(--text-regular);
    font-size: 18px;
    text-decoration: none;
}

.mobile-links li a:hover {
    color: var(--text-main);
}

.mobile-links a.active {
    color: var(--text-main);
}

#close-mobile {
    position: absolute;
    right: 7px;
    top: 20px;
}

.modal-backdrop {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-container {
    min-width: 1000px;
    padding: 30px 25px;
}

.modal {
    width: 100%;
    z-index: 11000;
    max-width: 1000px;
    background: #fff;
    border-radius: 15px;
    padding: 50px 40px 70px 40px;
}

.modal .card-header {
    display: flex;
    align-items: center;
}

.modal .card-header img {
    width: 50px;
    margin-right: 25px;
}

#title {
    font-weight: 600;
    font-size: 18px;
    color: var(--text-main);
    margin-bottom: 8px;
}

#price {
    font-weight: 500;
    font-size: 16px;
    color: var(--danger);
}

.input-group label {
    font-size: 14px;
    color: var(--text-placeholder);
    margin-bottom: 5px;
    display: inline-block;
}

.input {
    background: #f9f9f9;
    border-radius: 7px;
    width: 100%;
    border: none;
    color: var(--text-main);
}

.input::placeholder {
    color: var(--text-placeholder);
}

.input {
    height: 50px;
    padding: 11px 10px;
    font-size: 16px;
}

.input-prepend {
    display: flex;
}

.input-prepend input {
    border-radius: 0 7px 7px 0;
}

.input-prepend span {
    background: #f9f9f9;
    height: 50px;
    width: 60px;
    font-size: 20px;
    border-radius: 7px 0 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-regular);
}

.border-right {
    border-right: 1px solid #e3e3e3;
}

.lgpr-20px {
    padding-right: 20px !important;
}

.lgpl-20px {
    padding-left: 20px !important;
}

.modal .subtitle {
    margin-top: 0;
    display: flex;
    align-items: center;
    color: var(--text-main);
}

.modal-scroll-mask {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.22) 0%,
        #ffffff 100%
    );
    width: 100%;
    height: 76px;
    position: absolute;
    top: -px;
    left: 0px;
    bottom: 0;
    z-index: 10000;
}

.modal .card-title {
    display: flex;
    align-items: center;
    color: var(--text-main);
}

.modal .card-title span {
    font-size: 24px;
    color: var(--danger);
    margin-right: 15px;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #272838, 0%;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #35374a, 0%;
    border-radius: 7px;
}
