@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;

    /* Vars */
    --text-main: #383841;
    --text-regular: #383841;
    --text-placeholder: #383841;
    --text-second: #383841;
    --danger: #fd9409;
    --brand: linear-gradient(90deg, #f27481 0%, #ffa3ab 100%);
    --success: #8bdbb4;
    --warning: #ffcb99;
    --bg-color: #fcfcfc;
    font-family: "Inter", sans-serif;
}

*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--text-regular);
    font-size: 16px;
}

section.login {
    background: url("/img/20.png");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    max-width: 430px;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
    padding: 45px 35px 50px 35px;
}

.login-card .card-header {
    display: flex;
    align-items: center;
}

.login-card .card-header h1 {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 7px;
}

.login-card .card-header p {
    font-size: 18px;
    line-height: 22px;
}

.login-card .card-header img {
    margin-right: 25px;
}

.input-group label {
    font-size: 14px;
    color: var(--text-placeholder);
    margin-bottom: 5px;
    display: inline-block;
}

.input {
    background: #f9f9f9;
    border-radius: 7px;
    width: 100%;
    border: none;
    color: var(--text-main);
}

.input::placeholder {
    color: var(--text-placeholder);
}

.input {
    height: 50px;
    padding: 11px 10px;
    font-size: 16px;
}

.input-prepend {
    display: flex;
}

.input-prepend input {
    border-radius: 0 7px 7px 0;
}

.input-prepend span {
    background: #f9f9f9;
    height: 50px;
    width: 60px;
    font-size: 20px;
    border-radius: 7px 0 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-regular);
}

.btn {
    border-radius: 10px;
    padding: 15px 26px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.btn span {
    font-size: 24px;
}

.btn-brand {
    background: linear-gradient(90deg, #f29174 0%, #ffa3ab 100%);
    filter: drop-shadow(0px 0px 20px rgba(244, 122, 134, 0.4));
    color: #fff;
}

.btn-secondary {
    color: var(--danger);
    background: rgba(246, 127, 139, 0.2);
}

.btn-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-lg {
    padding: 22px 35px;
}

.container {
    max-width: 1430px !important;
}

.iconbar {
    position: fixed;
    top: 35px;
    width: 90px;
    height: calc(100vh - 70px);
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0;
}

.iconbar img {
    width: 40px;
}

.iconbar .icons {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.iconbar .icons span {
    font-size: 36px;
    color: var(--text-main);
}

.iconbar span.active {
    color: var(--danger);
}

.iconbar .icons a {
    margin-bottom: 45px;
}

.content {
    margin-left: 130px;
    margin-top: 35px;
    max-width: 1300px;
}

.mobile-iconbar {
    width: calc(100vw - 47px);
    position: fixed;
    bottom: 35px;
    left: 15px;
    z-index: 1000;
    background: #fff;
    padding: 27px 0;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: none;
}

.mobile-iconbar .icons {
    display: flex;
}

.mobile-iconbar .icons a {
    flex: 1;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.mobile-iconbar .icons span {
    font-size: 36px;
    color: var(--text-main);
}

.mobile-iconbar span.active {
    color: var(--danger);
}

h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: normal;
    color: #3c3c50;
}

.breadcrumb {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.breadcrumb a {
    text-decoration: none;
    color: var(--text-regular);
}

header img {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.02));
    border-radius: 50px;
    width: 60px;
    height: 60px;
}

.card {
    background: #ffffff;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
}

.profile-info {
    background: rgba(246, 127, 139, 0.02);
    border-radius: 15px 15px 0px 0px;
    padding: 40px 35px;
}

.profile-info .img-bg {
    margin-right: 25px;
    border-radius: 50%;
    width: 110px;
    height: 110px;

    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.02));
    padding: 6px;
}

.img-bg img {
    width: 99px;
    border-radius: 50%;
}

.profile-info h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--text-main);
}

.profile-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}

.profile-card .card-body {
    padding: 40px 35px 55px 35px;
}

.info p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-placeholder);
    margin-bottom: 15px;
}

.info h3 {
    color: var(--text-main);
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.add-info p {
    font-size: 18px;
    line-height: 22px;
}

.add-info b {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.card-body {
    padding: 35px;
}

.card-title span {
    font-size: 27px;
    color: var(--danger);
}

.card-title h4 {
    font-weight: 600;
    font-size: 24px;
    color: var(--text-main);
}

.table-item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.w-100px {
    min-width: 100px;
}

.w-230px {
    min-width: 230px;
}

.table-badge {
    font-weight: 600;
    font-size: 16px;
    width: 115px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
}

.badge-success {
    color: #7fb6f6;
    background: rgba(127, 182, 246, 0.2);
}

.badge-danger {
    color: var(--danger);
    background: rgba(246, 127, 139, 0.2);
}

.table-header {
    color: var(--text-placeholder);
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e3e3e3;
}

.table-header span {
    color: var(--text-placeholder);
    font-size: 24px;
    position: relative;
    top: 1px;
}

.good-icon {
    width: 55px;
    height: 55px;
    background: #f9f9f9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.good-icon img {
    width: 30px;
}

.good-table .table-item {
    font-weight: 500;
    font-size: 16px;
    color: var(--text-main);
}

.good-title {
    font-weight: 600;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: var(--danger);
}

.text-card {
    padding: 40px 35px;
}

.text-card .card-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: var(--text-main);
}

.support-img {
    position: absolute;
    top: -130px;
    right: 75px;
}

.application-img {
    position: absolute;
    top: -105px;
    right: 75px;
}

.tabs {
    display: flex;
    height: 38px;
    border-bottom: 2px solid #e3e3e3;
    width: 875px;
}

.tab {
    font-weight: bold;
    font-size: 18px;
    color: var(--text-placeholder);
    height: 38px;
    margin-right: 35px;
    cursor: pointer;
}

.tab:hover {
    color: var(--text-main);
}

.tab.active {
    color: var(--text-regular);
    border-bottom: 2px solid var(--danger);
}

.tab:nth-last-child(1) {
    margin-right: 0;
}

.ticket-card {
    padding: 35px 30px;
}

.ticket-card .card-header {
    display: flex;
    align-items: center;
}

.icon {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.ticket-card .card-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--text-main);
}

.ticket-card .card-body {
    padding: 25px 0 35px 0;
    border-bottom: 2px solid #e3e3e3;
}

.border-top {
    padding-top: 40px;
    border-top: 2px solid #e3e3e3;
}

.appl-card {
    padding: 20px 25px;
    display: flex;
    align-items: center;
}

.container-sm {
    max-width: 1300px !important;
}

.container-vsm {
    max-width: 955px !important;
}

.form-card {
    padding: 35px 35px 55px 35px;
}

.textarea {
    background: #f9f9f9;
    border-radius: 7px;
    min-height: 150px;
    border: none;
    width: 100%;
    padding: 17px 15px;
    color: var(--text-regular);
    font-size: 16px;
}

.chat-card .card-header {
    background: url("/img/chat-bg.png");
    border-radius: 15px 15px 0px 0px;
    padding: 29px 35px;
}

.chat-card .card-header img {
    width: 60px;
    height: 60px;
    border: 3px solid #ffffff;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.02));
    border-radius: 50px;
    margin-right: 20px;
}

.chat-card .card-header h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: var(--text-main);
    margin-bottom: 5px;
}

.messages {
    height: 495px;
    overflow-y: auto;
}

.message {
    max-width: 400px;
    margin-bottom: 20px;
}

.message-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.message-title img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.message-title h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}

.message-title p {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-placeholder);
}

.message-body {
    background: #f9f9f9;
    border-radius: 7px;
    padding: 17px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.message-right {
    margin-left: auto;
}

.message-right .message-title,
.message-right .message-title span {
    margin-left: auto;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.message-right .message-title div {
    text-align: right;
}

.message-right img {
    margin-right: 0;
    margin-left: 20px;
}

.message-right .message-body {
    text-align: right;
    background: linear-gradient(90deg, #f27481 0%, #ffa3ab 100%);
    color: #fff;
}

.input-group-append {
    display: flex;
}

.send input {
    background: #f9f9f9;
    border-radius: 7px 0px 0px 7px;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 11px 20px;
}

.send-btn {
    background: linear-gradient(90deg, #f27481 0%, #ffa3ab 100%);
    border-radius: 0px 7px 7px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    width: 50px;
}

.stats-card {
    display: flex;
}

.stats-card .card-body {
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.stats-card .sidebar {
    background: url("/img/stat-bg.png");
    width: 270px;
    padding: 30px 25px;
    border-radius: 15px 0 0 15px;
}

.stats-card h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--text-main);
}

.gamemode {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.gamemode:hover {
    transform: scale(1.05);
}

.gamemode img {
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

.gamemode p {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.stat {
    display: flex;
    align-items: center;
}

.stat span {
    font-size: 45px;
    margin-right: 17px;
}

.stat h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
}

.stat p {
    font-size: 14px;
    line-height: 17px;
}

.stats-card h5.card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: var(--text-main);
}

.stats-card .title-icon {
    font-size: 24px;
    color: var(--danger);
}

.online {
    background: rgba(246, 127, 139, 0.07);
    border-radius: 50px;
    height: 17px;
    width: 100%;
}

.online-path {
    background: linear-gradient(90deg, #f27481 0%, #ffa3ab 100%);
    border-radius: 50px;
    height: 17px;
}
